<!DOCTYPE html>
<html lang="ru" class="theme-xr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iOCIgZmlsbD0iIzAwRkZGRiIvPjwvc3ZnPg==" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>State Layout</title>
    <link rel="stylesheet" href="/quantum/theme/theme.css" />
    <link rel="stylesheet" href="/quantum/graph/style.css" />
    <link rel="stylesheet" href="/quantum/viewport/style.css" />
    <script type="importmap">
      {
        "imports": {
          "elkjs": "../../layout/lib/elk-api.js"
        }
      }
    </script>
    <script type="module" src="../../core/browser.js"></script>
    <script type="module" src="./state.js"></script>
    <script type="module" src="../../theme/components/theme-toggle.js"></script>
    </style>
  </head>
  <body>
    <q-theme-toggle></q-theme-toggle>
    <quantum-graph>
    </quantum-graph>
  </body>
</html>
